/* Card style */
.logincard {
  background: #ffffff9a;
  color: #275cab;
  width: 500px;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 156, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.LoginInp {
  display: flex;
  width: inherit;
  padding: 40px;
  gap: 30px;
  flex-direction: column;
}

.GIF {
  height: 600px;
}

.LoginBTN {
  background: var(--primary);
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.LoginBTN:hover {
  box-shadow: 0 0 10px var(--primary);
}
