/* Card style */
.logincard {
  background: #ffffff61;
  color: #275cab;
  height: 500px;
  width: 300px;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid var(--border);
  box-shadow: 0 0 20px rgba(0, 255, 156, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.LoginInp {
    display: flex;
    width: inherit;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}
