# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT 🔐)
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / temp
dist/
build/

# IDE files
.vscode/
.idea/

# Optional
coverage/